{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
<div class="card mb-5  mx-auto text-muted" style="max-width: 950px;  ">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{employee.image.url}}" class="img-fluid rounded-start p-2" style="height:400px;" alt="...">
    </div>
    <div class="col-md-7 mt-3">
      <div class="card-body">
        <h5 class="card-text">{{employee.ename}}</h5>
        <p class="card-text"><small>ID:</small> {{employee.empid}}</p>
        <p class="card-text"><small>Address:</small>{{employee.address}}</p>
           <p class="card-text"><small>Age:</small>{{employee.age}}</p>
           <p class="card-text"><small>Email:</small>{{employee.email}}</p>

       <a href="{% url 'app1:edit' employee.id %}" class="btn  text-light me-2" style="background-color:#001D3D;">Edit</a>
         <a href="{% url 'app1:delete' employee.id %}" class="btn text-light " style="background-color:#001D3D;">Delete</a>


      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}