{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        {% for i in employee %}
        <div class="col-sm-4">
            <div class="card mx-auto mb-5" style="width: 18rem;">
  <img src="{{i.image.url}}" class="card-img-top" height="350px" width="100%" alt="...">
  <div class="card-body bg-warning text-dark text-center">
    <h5 class="card-title">{{i.ename}}</h5>
    <p class="card-text"><small>ID:</small>{{i.empid}}</p>
    <a href="{% url 'app1:detail' i.id %}" class="btn text-light" style="background-color:#001D3D;">details</a>
  </div>
</div></div>
        {% endfor %}

    </div>
</div>
{% endblock %}